@model ProjecCV.Models.Sinif.Class1
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>YETENEKLER</th>
                <th>SİL</th>
                <th>GÜNCELLE</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var x in Model.Deger4)
            {
            <tr>
                <th>@x.ID</th>
                <td>@x.SKILL</td>
                @*<td><a href="/Yetenekler/Sil/@x.ID" class="btn btn-danger">Sil</a></td>*@
                <td>@Html.ActionLink("Sil","Sil",new {id=x.ID},new {@class="btn btn-danger",onclick="return confirm('Silmek İstiyor Musunuz?')"})</td>
                <td><a href="/Yetenekler/YetenekGetir/@x.ID" class="btn btn-success">Güncelle</a></td>
            </tr>
            }
        </tbody>
    </table>

    <a href="/Yetenekler/YeniYetenek/" class="btn btn-info">Yeni Yetenek Ekle</a>

